vaadin-grid::part(red) {
	color: red;
}

.red {
	color: red;
}

vaadin-grid::part(green) {
	color: green;
}

.green {
	color: green;
}

.bold-orange {
	color: #ff7421;
    font-weight: bold;
}

.no-background {
	background: none;
}

vaadin-grid::part(yellow) {
	background-color: rgb(255, 255, 120);
}

.right {
	text-align: right;
}

.spaced-form {
    --vaadin-form-item-label-spacing: 50px;
}

.small-text-with-ellipsis {
    font-size: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.absolute-height {
    height: 42px;
}

.codefont {
	font-family: monospace;
	font-size: smaller;
}
.buchungstext_field {
    height: 60px;
}
